						<div class="product">
				 					<div class="row">
					 					<div class="col-md-3">
					 					<br>
					 						<img class="img-fluid  mx-auto d-block image" src="resources/img/beef_soup.jpg" >
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row">
							 						<div class="col-md-4 product-name">
							 						 <label for="menu_name" style="font-size:16px; text-indent: 2.3em;">메뉴명</label>
							 							<div class="menu-name">
							 							
							 					
								 								
								 							
								 							<!-- 상세정보 필요할 시 사용 -->
								 							<!-- 
								 							<div class="product-info">
									 							<div>Display: <span class="value">5 inch</span></div>
									 							<div>RAM: <span class="value">4GB</span></div>
									 							<div>Memory: <span class="value">32GB</span></div>
									 						</div> -->
									 					</div>
							 						</div>
							 						
							 						<div class="col-md-3 quantity">
							 							<label for="quantity" style="text-indent: -0.5em;">수량</label>
					 		 							<!-- 수량관련 J-Query -->
				                          <div class="input-group spinner"  data-trigger="spinner" >
                                          <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                                          <div class="input-group-addon" >
                                          <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                          <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                           </div>
                                          </div>
							 	         </div>
							 						
							 						
							 						<div class="col-md-3">
							 						 <label for="price" style="font-size:16px; text-indent: 2.5em;">가격</label><br />
							 							<h4 align="center" style="text-indent: 1em;"><b><span>18,000</span></b></h4>
							 							
							 						</div>
							 						
							 						<div class="col-md-2">
							 						 <label for="remove" style="font-size:16px; text-indent: 0.6em;">삭제</label> 
							 						 <p style="text-align: center;">
							 							<a href="#" class="btn btn-danger btn-round btn-sm " data-abc="true" ><i class="fa fa-trash"></i></a>
							 							</p>  
							 						</div>
							 						
							 						
							 						
							 					</div>
							 				</div>
					 					</div>
					 				</div>
				 				</div>